<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>260903246311-tru4v0udgpj3dnv1t29t186ds1gtccdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260903246311-tru4v0udgpj3dnv1t29t186ds1gtccdt</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Wsijxeb5Mx8pMnNMq8AE73Jxoyn-hzY</string>
	<key>GCM_SENDER_ID</key>
	<string>260903246311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.james.StockMaster</string>
	<key>PROJECT_ID</key>
	<string>stockmaster-bf56c</string>
	<key>STORAGE_BUCKET</key>
	<string>stockmaster-bf56c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260903246311:ios:273b9f93237b7033</string>
	<key>DATABASE_URL</key>
	<string>https://stockmaster-bf56c.firebaseio.com</string>
</dict>
</plist>